@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.mea {
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to right, #171717, #1F1F1F);
    height: 77.5vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 250px; 
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px gray;
    height: 38px;
    width: 450px;
    padding: 0px 0px 0px 2px;
    
}

nav ul a {
    text-decoration: none;   
    color: #fff;
}

.home {
    background-color: #E6533C;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 20px;
}
.nav-header {
    font-size: 2rem;
    font-style: italic;
    color: #E6533C;
}

.hero {
    display: flex;
    margin: 0px 250px;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    width: 50%;
}

.hero-heading {
    font-size: 6rem;
    font-weight: bold;
    line-height: 120%;
    color: #fff;
}

.hero-custom {
    font-family: "Mea Culpa", cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 8rem;
}

.hero-description {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
    margin-top: -55px;
}

.primary-btn {
    font-size: 20px;
    background-color: #E6533C;
    padding: 16px 46px;
    border: none;
    border-radius: 42px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.secondary-btn {
    font-size: 20px;
    background-color: #1C1C1C;
    padding: 16px 46px;
    border: 1px solid #fff;
    border-radius: 42px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.hero-img img {
    width: 100%;
    margin-top: 25px;
}

.badge {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
}

.top-badge {
    top: 300px;
    right: 220px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
}

.bottom-badge {
    top: 450px;
    left: 1260px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
}

.custom-badge {
    font-weight: 100;
    font-size: 14px;
}

.primary-bg {
    background-color: #000000;
}

.habit-sec {
    padding: 100px 250px;
}

.habit {
    display: flex;
    align-items: center;
    gap: 200px;
    margin-top: 50px;
}

.habit-img-content {
    border-radius: 50%;
}

.habit-heading {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

.habit-description {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
    text-align: center;
    margin-top: -25px;
    line-height: 150%;
}

.habit-content-heading {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    
}

.habit-content-description {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
    text-align: center;
}

.mile-sec {
    margin: 0px 250px;
    background-color: #222222;
    border-radius: 20px;
}

.mile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 50px;
}

.mile-heading {
    color: #fff;
    font-size: 4rem;
    line-height: 110%;
}

.mile-description {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
    margin-top: -40px;
    line-height: 140%;
}

.mile-container img {
    max-width: 50%;
    border-radius: 15px;
}

.mile-image {
    width: 50%;
    margin-left: 350px;
}

.bmi-text {
    margin: 100px auto;
    margin-left: 40%;
}

.bmi-heading {
    font-size: 4rem;
    color: #fff;
    text-align: left;
}

.bmi-description {
    color: #fff;
    font-size: 1rem;
    opacity: .5;
    text-align: left;
    margin-top: -40px;
    padding-bottom: 30px;
}

.chart-sec {
    background-color: #1C1C1C;
    
}

.chart-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 50px; 
}

.chart-heading {
    font-size: 2rem;
    color: #fff;
}

.chart-table-heading {
    font-size: 2rem;
    color: #fff;
}

.bmi-table-head {
    font-weight: 400;
    font-size: 1rem;
}

.chart-description {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
}

.chart-table {
    border-collapse: collapse;
    border: 1px solid lightgrey;
}

.chart-table td, th {
    border: 1px solid lightgrey;
    text-align: center;
    padding: 15px;
}

.chart-table th {
    color: #fff;
}

.chart-table td {
    color: #fff;
    opacity: .5;
}

.height {
    height: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #383838;
    color: lightgray;
    border: none;
    margin-right: 10px;
}

.weight {
    height: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #383838;
    color: lightgray;
    border: none;
}

.age {
    height: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #383838;
    color: lightgray;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}

.sex {
    height: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #383838;
    color: lightgray;
    border: none;
}

.activity {
    height: 20px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    background-color: #383838;
    color: lightgray;
    border: none;
    margin-top: 20px;
    display: block;
    width: 92%;
}

::placeholder {
    font-size: 1rem;
    color: #fff;
    opacity: .5;
}

.calculate {
    margin-top: 30px;
}

.team-sec {
    background-color: #000000;
    padding-top: 50px;
    height: 950px;
}

.team-heading {
    color: #fff;
    text-align: center;
    font-size: 3rem;
}

.team-description {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    opacity: .5;
    margin-top: -20px;
    line-height: 150%;
}

.team-container {
    background-color: #1C1C1C;
    margin: 50px 420px;
    width: 950px;
    border-radius: 15px;
    padding: 10px;  
}

.trainer-container {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.trainer-container img {
    max-width: 300px;
    max-height: 300px;
}

.trainer-img {
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-radius: 15px;
}

.trainer-up {
    margin-top: 10px;
}

.trainer-bottom {
    margin-bottom: 10px;
}

footer {
    background-color: #1C1C1C;
    margin-top: -40px;
}

.footer-container {
    display: flex;
    padding: 65px;
    justify-content: space-between;
    gap: 50px;
    margin: 0px 300px;
}

.footer {
    width: 100%;
}

.footer ul {
    list-style: none;
    line-height: 250%;
}

.footer ul a {
    text-decoration: none;
    color: #fff;
    opacity: .5;
    font-size: 1rem;
}

.footer-header {
    font-size: 3rem;
}

.footer-description {
    color: #fff;
    opacity: .5;
    font-size: 1rem;
    line-height: 150%;
}

.started {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 34px;
}

hr {
    border: .5px solid #fff;
    opacity: .5;
    margin-bottom: 100px;
    width: 54%;
    margin-left: 18%;
    text-align: center;
}

.copyright {
    text-align: center;
    color: #fff;
    opacity: .5;
    padding-bottom: 20px;
}